First and foremost, upload the dataset using pandas:

In [3]:
import pandas as pd
Organ_dataset = pd.read_csv('Organ Procurement Data Analysis.csv')

In [4]:
Organ_dataset.head()

,OPO code,Total number of transplants - OPO year 1,Race (%) - White - OPO year 1,Race (%) - African-American - OPO year 1,Race (%) - Hispanic/Latino - OPO year 1,Race (%) - Asian - OPO year 1,Race (%) - Other - OPO year 1,Race (%) - Unknown - OPO year 1,Age Group (%) - <2 years - OPO year 1,Age Group (%) - 2-11 years - OPO year 1,...,Race (%) - Unknown - OPO year 2,Age Group (%) - <2 years - OPO year 2,Age Group (%) - 2-11 years - OPO year 2,Age Group (%) - 12-17 years - OPO year 2,Age Group (%) - 18-34 years - OPO year 2,Age Group (%) - 35-49 years - OPO year 2,Age Group (%) - 50-64 years - OPO year 2,Age Group (%) - 65+ years - OPO year 2,Gender (%) - Female - OPO year 2,Gender (%) - Male - OPO year 2
0,ALOB,300,32.666667,58.000000,6.333333,2.333333,0.666667,0,0.333333,1.666667,...,0,0.000000,0.706714,1.060071,7.067138,28.621908,40.636042,21.908127,43.816254,56.183746
1,AROR,122,32.786885,41.803279,13.114754,5.737705,6.557377,0,0.000000,4.918033,...,0,0.561798,1.685393,0.561798,12.359551,30.337079,38.764045,15.730337,45.505618,54.494382
2,AZOB,467,35.546039,14.989293,31.263383,9.207709,8.993576,0,0.214133,1.070664,...,0,0.000000,0.512821,2.051282,14.615385,22.051282,39.487179,21.282051,39.743590,60.256410
3,CADN,617,21.069692,12.641815,40.194489,23.014587,3.079417,0,0.162075,1.458671,...,0,0.178253,1.426025,4.456328,10.695187,22.103387,36.541889,24.598930,37.433155,62.566845
4,CAGS,247,23.886640,14.170040,32.793522,25.506073,3.643725,0,0.000000,0.404858,...,0,0.000000,2.336449,2.336449,14.485981,23.831776,33.644860,23.364486,42.056075,57.943925

In [10]:
Organ_dataset.isnull().sum().sum()

0

Per the email, this dataset contains information from two years. I'll subdivide the dataset into year 1 & year 2, respectively:

In [11]:
Organ_dataset.columns

Index(['OPO code', 'Total number of transplants - OPO year 1',
       'Race (%) - White - OPO year 1',
       'Race (%) - African-American - OPO year 1',
       'Race (%) - Hispanic/Latino - OPO year 1',
       'Race (%) - Asian - OPO year 1', 'Race (%) - Other - OPO year 1',
       'Race (%) - Unknown - OPO year 1',
       'Age Group (%) - <2 years - OPO year 1',
       'Age Group (%) - 2-11 years - OPO year 1',
       'Age Group (%) - 12-17 years - OPO year 1',
       'Age Group (%) - 18-34 years - OPO year 1',
       'Age Group (%) - 35-49 years - OPO year 1',
       'Age Group (%) - 50-64 years - OPO year 1',
       'Age Group (%) - 65+ years - OPO year 1',
       'Gender (%) - Female - OPO year 1', 'Gender (%) - Male - OPO year 1',
       'Total number of transplants - OPO year 2',
       'Race (%) - White - OPO year 2',
       'Race (%) - African-American - OPO year 2',
       'Race (%) - Hispanic/Latino - OPO year 2',
       'Race (%) - Asian - OPO year 2', 'Race (%) - Other - OPO year 2',
       'Race (%) - Unknown - OPO year 2',
       'Age Group (%) - <2 years - OPO year 2',
       'Age Group (%) - 2-11 years - OPO year 2',
       'Age Group (%) - 12-17 years - OPO year 2',
       'Age Group (%) - 18-34 years - OPO year 2',
       'Age Group (%) - 35-49 years - OPO year 2',
       'Age Group (%) - 50-64 years - OPO year 2',
       'Age Group (%) - 65+ years - OPO year 2',
       'Gender (%) - Female - OPO year 2', 'Gender (%) - Male - OPO year 2'],
      dtype='object')

In [12]:
organ_dataset_year1 = Organ_dataset[['OPO code', 'Total number of transplants - OPO year 1',
       'Race (%) - White - OPO year 1',
       'Race (%) - African-American - OPO year 1',
       'Race (%) - Hispanic/Latino - OPO year 1',
       'Race (%) - Asian - OPO year 1', 'Race (%) - Other - OPO year 1',
       'Race (%) - Unknown - OPO year 1',
       'Age Group (%) - <2 years - OPO year 1',
       'Age Group (%) - 2-11 years - OPO year 1',
       'Age Group (%) - 12-17 years - OPO year 1',
       'Age Group (%) - 18-34 years - OPO year 1',
       'Age Group (%) - 35-49 years - OPO year 1',
       'Age Group (%) - 50-64 years - OPO year 1',
       'Age Group (%) - 65+ years - OPO year 1',
       'Gender (%) - Female - OPO year 1', 'Gender (%) - Male - OPO year 1']]
organ_dataset_year1.head()

,OPO code,Total number of transplants - OPO year 1,Race (%) - White - OPO year 1,Race (%) - African-American - OPO year 1,Race (%) - Hispanic/Latino - OPO year 1,Race (%) - Asian - OPO year 1,Race (%) - Other - OPO year 1,Race (%) - Unknown - OPO year 1,Age Group (%) - <2 years - OPO year 1,Age Group (%) - 2-11 years - OPO year 1,Age Group (%) - 12-17 years - OPO year 1,Age Group (%) - 18-34 years - OPO year 1,Age Group (%) - 35-49 years - OPO year 1,Age Group (%) - 50-64 years - OPO year 1,Age Group (%) - 65+ years - OPO year 1,Gender (%) - Female - OPO year 1,Gender (%) - Male - OPO year 1
0,ALOB,300,32.666667,58.000000,6.333333,2.333333,0.666667,0,0.333333,1.666667,1.333333,7.666667,28.333333,43.666667,17.000000,38.333333,61.666667
1,AROR,122,32.786885,41.803279,13.114754,5.737705,6.557377,0,0.000000,4.918033,0.819672,15.573770,27.049180,37.704918,13.934426,40.983607,59.016393
2,AZOB,467,35.546039,14.989293,31.263383,9.207709,8.993576,0,0.214133,1.070664,1.070664,9.850107,25.053533,43.897216,18.843683,38.758030,61.241970
3,CADN,617,21.069692,12.641815,40.194489,23.014587,3.079417,0,0.162075,1.458671,1.620746,12.155592,26.418152,35.818476,22.366288,35.656402,64.343598
4,CAGS,247,23.886640,14.170040,32.793522,25.506073,3.643725,0,0.000000,0.404858,2.024291,10.121457,25.506073,36.437247,25.506073,34.412955,65.587045

In [13]:
organ_dataset_year1.columns

Index(['OPO code', 'Total number of transplants - OPO year 1',
       'Race (%) - White - OPO year 1',
       'Race (%) - African-American - OPO year 1',
       'Race (%) - Hispanic/Latino - OPO year 1',
       'Race (%) - Asian - OPO year 1', 'Race (%) - Other - OPO year 1',
       'Race (%) - Unknown - OPO year 1',
       'Age Group (%) - <2 years - OPO year 1',
       'Age Group (%) - 2-11 years - OPO year 1',
       'Age Group (%) - 12-17 years - OPO year 1',
       'Age Group (%) - 18-34 years - OPO year 1',
       'Age Group (%) - 35-49 years - OPO year 1',
       'Age Group (%) - 50-64 years - OPO year 1',
       'Age Group (%) - 65+ years - OPO year 1',
       'Gender (%) - Female - OPO year 1', 'Gender (%) - Male - OPO year 1'],
      dtype='object')

In [15]:
organ_dataset_year2 = Organ_dataset[['OPO code',  'Total number of transplants - OPO year 2',
       'Race (%) - White - OPO year 2',
       'Race (%) - African-American - OPO year 2',
       'Race (%) - Hispanic/Latino - OPO year 2',
       'Race (%) - Asian - OPO year 2', 'Race (%) - Other - OPO year 2',
       'Race (%) - Unknown - OPO year 2',
       'Age Group (%) - <2 years - OPO year 2',
       'Age Group (%) - 2-11 years - OPO year 2',
       'Age Group (%) - 12-17 years - OPO year 2',
       'Age Group (%) - 18-34 years - OPO year 2',
       'Age Group (%) - 35-49 years - OPO year 2',
       'Age Group (%) - 50-64 years - OPO year 2',
       'Age Group (%) - 65+ years - OPO year 2',
       'Gender (%) - Female - OPO year 2', 'Gender (%) - Male - OPO year 2']]
organ_dataset_year2.head()

,OPO code,Total number of transplants - OPO year 2,Race (%) - White - OPO year 2,Race (%) - African-American - OPO year 2,Race (%) - Hispanic/Latino - OPO year 2,Race (%) - Asian - OPO year 2,Race (%) - Other - OPO year 2,Race (%) - Unknown - OPO year 2,Age Group (%) - <2 years - OPO year 2,Age Group (%) - 2-11 years - OPO year 2,Age Group (%) - 12-17 years - OPO year 2,Age Group (%) - 18-34 years - OPO year 2,Age Group (%) - 35-49 years - OPO year 2,Age Group (%) - 50-64 years - OPO year 2,Age Group (%) - 65+ years - OPO year 2,Gender (%) - Female - OPO year 2,Gender (%) - Male - OPO year 2
0,ALOB,283,27.561837,61.837456,6.360424,3.533569,0.706714,0,0.000000,0.706714,1.060071,7.067138,28.621908,40.636042,21.908127,43.816254,56.183746
1,AROR,178,30.337079,45.505618,14.044944,3.932584,6.179775,0,0.561798,1.685393,0.561798,12.359551,30.337079,38.764045,15.730337,45.505618,54.494382
2,AZOB,390,34.871795,16.923077,34.871795,8.205128,5.128205,0,0.000000,0.512821,2.051282,14.615385,22.051282,39.487179,21.282051,39.743590,60.256410
3,CADN,561,20.677362,13.012478,40.819964,23.172906,2.317291,0,0.178253,1.426025,4.456328,10.695187,22.103387,36.541889,24.598930,37.433155,62.566845
4,CAGS,214,25.233645,12.616822,33.177570,25.700935,3.271028,0,0.000000,2.336449,2.336449,14.485981,23.831776,33.644860,23.364486,42.056075,57.943925

As mentioned in the email, the yellow highlighted row from the attached spreadsheet represents LifeNet and has OPO Code 'VATB' and row value of 53. We will use this as a reference in subsequent analyses.

In [76]:
print("In year 1, there were", organ_dataset_year1['Total number of transplants - OPO year 1'].sum(), "organ transplants")
print( 'VATB accounted for',organ_dataset_year1.iloc[53]['Total number of transplants - OPO year 1'],'transplants from this year')
print("VATB accounted for",round(100*(325/18787),2),"% of transplants from this year")

In year 1, there were 18787 organ transplants
VATB accounted for 325 transplants from this year
VATB accounted for 1.73 % of transplants from this year

In [79]:
print("In year 2, there were", organ_dataset_year2['Total number of transplants - OPO year 2'].sum(), "organ transplants")
print( 'VATB accounted for',organ_dataset_year2.iloc[53]['Total number of transplants - OPO year 2'],'transplants from this year')
print("VATB accounted for",round(100*(299/18602),2),"% of transplants from this year")

In year 2, there were 18602 organ transplants
VATB accounted for 299 transplants from this year
VATB accounted for 1.61 % of transplants from this year

In [80]:
organ_dataset_year1.iloc[53]

OPO code                                         VATB
Total number of transplants - OPO year 1          325
Race (%) - White - OPO year 1               30.153846
Race (%) - African-American - OPO year 1    55.692308
Race (%) - Hispanic/Latino - OPO year 1      6.153846
Race (%) - Asian - OPO year 1                6.769231
Race (%) - Other - OPO year 1                1.230769
Race (%) - Unknown - OPO year 1                     0
Age Group (%) - <2 years - OPO year 1        0.615385
Age Group (%) - 2-11 years - OPO year 1      0.615385
Age Group (%) - 12-17 years - OPO year 1     1.846154
Age Group (%) - 18-34 years - OPO year 1     6.153846
Age Group (%) - 35-49 years - OPO year 1    21.230769
Age Group (%) - 50-64 years - OPO year 1    45.538462
Age Group (%) - 65+ years - OPO year 1           24.0
Gender (%) - Female - OPO year 1            39.076923
Gender (%) - Male - OPO year 1              60.923077
Name: 53, dtype: object

In [81]:
organ_dataset_year2.iloc[53]

OPO code                                         VATB
Total number of transplants - OPO year 2          299
Race (%) - White - OPO year 2               31.103679
Race (%) - African-American - OPO year 2    50.501672
Race (%) - Hispanic/Latino - OPO year 2      9.364548
Race (%) - Asian - OPO year 2                7.692308
Race (%) - Other - OPO year 2                1.337793
Race (%) - Unknown - OPO year 2                     0
Age Group (%) - <2 years - OPO year 2             0.0
Age Group (%) - 2-11 years - OPO year 2      2.006689
Age Group (%) - 12-17 years - OPO year 2     1.337793
Age Group (%) - 18-34 years - OPO year 2    11.036789
Age Group (%) - 35-49 years - OPO year 2    23.745819
Age Group (%) - 50-64 years - OPO year 2    43.143813
Age Group (%) - 65+ years - OPO year 2      18.729097
Gender (%) - Female - OPO year 2            40.468227
Gender (%) - Male - OPO year 2              59.531773
Name: 53, dtype: object

### Individual LifeNet Analysis

The 35-49 & 50-64 age groups account for the largest recipients of organs with approximately 2/3 in both years, with 35-49
accounting for 21.23% & 23.75% in Years 1 and 2, respectively, and 50-64 accounting for 45.54% & 43.14% in Years 1 & 2,
respectively

African-Americans account for more than half of recipients in both years, and there was a 5% drop in African-American recipients from Year 1 to Year 2

Non-Whites accounted for the largest proportion of recipients, at roughly 69%

There was a notable increase in Hispanic recipients, from 6.15% to 9.37%

Men account for 3/5 of recipients in both years

There was a 5% increase in recipients of the 18-34 age group 

There was a 5.3% decrease in receipients of the Senior Citizen group

### Analysis Including Other Companies, Year 1

In [87]:
organ_dataset_year1.describe()

,Total number of transplants - OPO year 1,Race (%) - White - OPO year 1,Race (%) - African-American - OPO year 1,Race (%) - Hispanic/Latino - OPO year 1,Race (%) - Asian - OPO year 1,Race (%) - Other - OPO year 1,Race (%) - Unknown - OPO year 1,Age Group (%) - <2 years - OPO year 1,Age Group (%) - 2-11 years - OPO year 1,Age Group (%) - 12-17 years - OPO year 1,Age Group (%) - 18-34 years - OPO year 1,Age Group (%) - 35-49 years - OPO year 1,Age Group (%) - 50-64 years - OPO year 1,Age Group (%) - 65+ years - OPO year 1,Gender (%) - Female - OPO year 1,Gender (%) - Male - OPO year 1
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.0,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,329.596491,38.286968,33.294865,18.109153,8.082793,2.226220,0.0,0.051376,1.335822,1.777016,10.217132,23.764658,39.965151,22.888845,39.257592,60.742408
std,185.528382,13.957407,16.189163,14.048024,8.805483,3.008837,0.0,0.129553,0.986896,1.141106,2.598250,2.923185,3.706387,4.115591,3.551495,3.551495
min,63.000000,11.363636,5.747126,3.780069,1.136364,0.000000,0.0,0.000000,0.000000,0.000000,4.225352,18.000000,29.113924,13.934426,29.577465,53.571429
25%,195.000000,28.761062,18.181818,7.936508,3.581267,0.719424,0.0,0.000000,0.615385,0.920245,8.873720,21.461187,38.461538,20.661157,37.142857,59.016393
50%,295.000000,35.546039,32.589286,13.181818,5.737705,1.162791,0.0,0.000000,1.162791,1.652893,9.821429,24.444444,39.570552,22.769231,39.076923,60.923077
75%,442.000000,49.640288,42.692308,22.085890,8.089501,2.222222,0.0,0.000000,1.687117,2.692308,12.045455,26.101695,42.081448,25.777778,40.983607,62.857143
max,879.000000,67.021277,71.276596,64.772727,59.154930,16.949153,0.0,0.615385,4.918033,5.464481,17.241379,30.379747,50.303030,31.399317,46.428571,70.422535

In [89]:
organ_dataset_year1.iloc[53]

OPO code                                         VATB
Total number of transplants - OPO year 1          325
Race (%) - White - OPO year 1               30.153846
Race (%) - African-American - OPO year 1    55.692308
Race (%) - Hispanic/Latino - OPO year 1      6.153846
Race (%) - Asian - OPO year 1                6.769231
Race (%) - Other - OPO year 1                1.230769
Race (%) - Unknown - OPO year 1                     0
Age Group (%) - <2 years - OPO year 1        0.615385
Age Group (%) - 2-11 years - OPO year 1      0.615385
Age Group (%) - 12-17 years - OPO year 1     1.846154
Age Group (%) - 18-34 years - OPO year 1     6.153846
Age Group (%) - 35-49 years - OPO year 1    21.230769
Age Group (%) - 50-64 years - OPO year 1    45.538462
Age Group (%) - 65+ years - OPO year 1           24.0
Gender (%) - Female - OPO year 1            39.076923
Gender (%) - Male - OPO year 1              60.923077
Name: 53, dtype: object

LifeNet accounted for slightly fewer transplants than on average, with 325 compared to 329

LfeNet's African American recipients far surprass the average, with 55.7% compared to 33.3%

### Analysis Including Other Companies, Year 2

In [90]:
organ_dataset_year2.describe()

,Total number of transplants - OPO year 2,Race (%) - White - OPO year 2,Race (%) - African-American - OPO year 2,Race (%) - Hispanic/Latino - OPO year 2,Race (%) - Asian - OPO year 2,Race (%) - Other - OPO year 2,Race (%) - Unknown - OPO year 2,Age Group (%) - <2 years - OPO year 2,Age Group (%) - 2-11 years - OPO year 2,Age Group (%) - 12-17 years - OPO year 2,Age Group (%) - 18-34 years - OPO year 2,Age Group (%) - 35-49 years - OPO year 2,Age Group (%) - 50-64 years - OPO year 2,Age Group (%) - 65+ years - OPO year 2,Gender (%) - Female - OPO year 2,Gender (%) - Male - OPO year 2
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.0,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,326.350877,35.527473,33.828442,19.956704,8.827421,1.859960,0.0,0.038376,1.090555,1.605400,10.340018,24.166939,40.085297,22.673416,39.346168,60.653832
std,187.690331,12.079657,16.451020,14.494714,8.443048,1.864457,0.0,0.115410,0.650991,1.072659,2.587206,3.538868,3.604620,4.010811,3.597987,3.597987
min,69.000000,12.000000,2.892562,4.379562,0.729927,0.000000,0.0,0.000000,0.000000,0.000000,4.347826,17.142857,29.921260,13.910761,31.658291,50.806452
25%,199.000000,26.905830,20.000000,9.774436,4.306220,0.836820,0.0,0.000000,0.790514,0.904977,8.219178,21.917808,37.771739,20.634921,37.142857,58.072917
50%,292.000000,33.960293,33.806147,14.220183,6.598985,1.156069,0.0,0.000000,1.059322,1.386482,10.502283,23.831776,40.358744,22.377622,39.370079,60.629921
75%,423.000000,46.123260,44.376900,26.859504,10.204082,2.230483,0.0,0.000000,1.459854,2.040816,12.345679,26.027397,42.028986,24.598930,41.927083,62.857143
max,957.000000,60.301508,72.992701,65.000000,57.534247,11.290323,0.0,0.561798,2.887139,5.022831,17.000000,33.858268,49.523810,32.663317,49.193548,68.341709

In [92]:
organ_dataset_year2.iloc[53]

OPO code                                         VATB
Total number of transplants - OPO year 2          299
Race (%) - White - OPO year 2               31.103679
Race (%) - African-American - OPO year 2    50.501672
Race (%) - Hispanic/Latino - OPO year 2      9.364548
Race (%) - Asian - OPO year 2                7.692308
Race (%) - Other - OPO year 2                1.337793
Race (%) - Unknown - OPO year 2                     0
Age Group (%) - <2 years - OPO year 2             0.0
Age Group (%) - 2-11 years - OPO year 2      2.006689
Age Group (%) - 12-17 years - OPO year 2     1.337793
Age Group (%) - 18-34 years - OPO year 2    11.036789
Age Group (%) - 35-49 years - OPO year 2    23.745819
Age Group (%) - 50-64 years - OPO year 2    43.143813
Age Group (%) - 65+ years - OPO year 2      18.729097
Gender (%) - Female - OPO year 2            40.468227
Gender (%) - Male - OPO year 2              59.531773
Name: 53, dtype: object

LifeNet performed well below the average number of transplants, with 299 compared to 326

The Female/Male recipient ratio remained consistent in both years, with roughly 2 women for every 3 men

In [104]:
organ_dataset_year2.iloc[53][2:8]

Race (%) - White - OPO year 2               31.103679
Race (%) - African-American - OPO year 2    50.501672
Race (%) - Hispanic/Latino - OPO year 2      9.364548
Race (%) - Asian - OPO year 2                7.692308
Race (%) - Other - OPO year 2                1.337793
Race (%) - Unknown - OPO year 2                     0
Name: 53, dtype: object

In [17]:
organ_dataset_year1.describe()

,Total number of transplants - OPO year 1,Race (%) - White - OPO year 1,Race (%) - African-American - OPO year 1,Race (%) - Hispanic/Latino - OPO year 1,Race (%) - Asian - OPO year 1,Race (%) - Other - OPO year 1,Race (%) - Unknown - OPO year 1,Age Group (%) - <2 years - OPO year 1,Age Group (%) - 2-11 years - OPO year 1,Age Group (%) - 12-17 years - OPO year 1,Age Group (%) - 18-34 years - OPO year 1,Age Group (%) - 35-49 years - OPO year 1,Age Group (%) - 50-64 years - OPO year 1,Age Group (%) - 65+ years - OPO year 1,Gender (%) - Female - OPO year 1,Gender (%) - Male - OPO year 1
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.0,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,329.596491,38.286968,33.294865,18.109153,8.082793,2.226220,0.0,0.051376,1.335822,1.777016,10.217132,23.764658,39.965151,22.888845,39.257592,60.742408
std,185.528382,13.957407,16.189163,14.048024,8.805483,3.008837,0.0,0.129553,0.986896,1.141106,2.598250,2.923185,3.706387,4.115591,3.551495,3.551495
min,63.000000,11.363636,5.747126,3.780069,1.136364,0.000000,0.0,0.000000,0.000000,0.000000,4.225352,18.000000,29.113924,13.934426,29.577465,53.571429
25%,195.000000,28.761062,18.181818,7.936508,3.581267,0.719424,0.0,0.000000,0.615385,0.920245,8.873720,21.461187,38.461538,20.661157,37.142857,59.016393
50%,295.000000,35.546039,32.589286,13.181818,5.737705,1.162791,0.0,0.000000,1.162791,1.652893,9.821429,24.444444,39.570552,22.769231,39.076923,60.923077
75%,442.000000,49.640288,42.692308,22.085890,8.089501,2.222222,0.0,0.000000,1.687117,2.692308,12.045455,26.101695,42.081448,25.777778,40.983607,62.857143
max,879.000000,67.021277,71.276596,64.772727,59.154930,16.949153,0.0,0.615385,4.918033,5.464481,17.241379,30.379747,50.303030,31.399317,46.428571,70.422535